/* Color Mixins */

_blue   = rgba(20, 20, 200, .7)
_red    = rgba(230, 21, 21, 0.6)
_yellow = rgba(220, 224, 19, 0.7)
_orange = rgba(230, 158, 21, .8)

.blue
    background-color _blue

.red
    background-color _red

.yellow
    background-color _yellow

.orange
    background-color _orange


/* column height */

.col-md-6
    height 45vh
    text-align center

.container
    // color bisque
    // text-shadow 5px 5px 5px black
    margin-bottom 20px


/* General helpers */

.total-reports
    float right
    font-size 2rem
    padding-right 12px

.report-block
    padding-top 20px

.data-wrapper
    color rgba(10, 10, 10, .8);
    font-size 8rem

.multi-wrapper

    // display inline-block
    > tr, td
        // display inline-flex
        padding 1px
        font-size 2.4rem

/* just changing BootStrap for the hell of it... */


// .table-hover > tbody > tr:hover
//     background-color rgba(217,97,10,.5)
//
// .navbar-default .navbar-nav > .active > a
//     background-color #8A6D3B
//
// .navbar
//     border none

.navbar
    font-family 'Indie Flower', cursive
    font-size 20px

.navbar-nav
    float right

.navbar-brand
    font-size 29px
